.commentInput {
    display: flex;
    justify-content: space-between;
}

.commentInput_textarea {
    border: none;
    width: 100%;
    resize: none;
    margin: 8px 0;
    font-size: 14px;
}

.commentInput_textarea :focus {
    border: none;
}

.commentInput_btn {
    background-color: white;
    border: none;
}